@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Iransens";
  src: url("/fonts/IRANSans.woff") format("woff");
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Iransens;
  font-size: 14px;
}
@keyframes moving-line {
  0% {
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background: linear-gradient(90deg, #3b82f6, #60a5fa);
  }
  25% {
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #60a5fa, #38bdf8);
  }
  26% {
    top: 0;
    left: 100%;
    width: 3px;
    height: 0%;
  }
  50% {
    top: 0;
    left: 100%;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, #38bdf8, #0ea5e9);
  }
  51% {
    top: 100%;
    left: 100%;
    width: 0%;
    height: 3px;
  }
  75% {
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #0ea5e9, #3b82f6);
  }
  76% {
    top: 100%;
    left: 0;
    width: 3px;
    height: 0%;
  }
  100% {
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, #3b82f6, #60a5fa);
  }
}

.animate-moving-line {
  position: absolute;
  animation: moving-line 5s linear infinite;
  animation-play-state: paused;
  will-change: transform;
}

.group:hover .animate-moving-line {
  animation-play-state: running;
  animation: none;
  animation: moving-line 5s linear infinite;
}
